[Unit]
Description = Backend

[Service]
User=expense
Environment=DB_HOST=172.31.31.35
ExecStart = bin/node /app/index.js
SyslogIdentifer=backend


[Install]
WantedBy = multi-user.target